*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#F8FFFF ; 
}
#navbar
{
    display:flex;
    align-items: center;
    background-color: black;
/* opacity: .8; */
/* position: relative; */
width: 100%;
position: sticky;
top: 0;
}
#logo{
    margin: 5px 20px 0px 30px;
    color: white;
}
#logo>img
{
    height: 40px;
    width:150px;
}
ul{
    display: flex;
    list-style: none;
    font-family: 'Smooch', cursive;
    justify-content: space-between;


}
#navbar> ul>li{
    font-size: 22px;
   
}
#navbar>ul>li>a{
    text-decoration: none;
    display: block;
    padding: 3px 22px;
    color:white;
    border-radius: 15px;
}
#navbar>ul>li>a:hover{
color: black;
background-color: white;
}


/* section 1  */

#section1{
    background-image: url('aboutback.png');
    /* opacity: 1; */
   background-size: cover;
   /* padding: 20vh; */
    /* height:50%; */
    width:100%;
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding-bottom: 10vh;

} 
#id4
{
   font-size: 20px;
   margin-bottom: 3%;
}
#nn
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
#sh
{
   
    font-size: 30px;
    font-family: 'Bitter', serif;
}
#n1
{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 5%;

}
.para
{
    font-family: 'Smooch', cursive;
    /* margin: 1%; */
    padding-bottom: 1%;
    font-size: 3vh;
/* opacity: .3; */
}
/* secction 2 */
#section2
{
    background-image: url('back.png');
    background-color: rgba(255, 255, 255, .25);
    backdrop-filter: blur(4px);
    background-size: cover;
    /* opacity: .2; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 95vh; */
width: 100%;
    /* align-items: center; */
    flex-direction: column;
padding-bottom: 5%;

}

.Skillsh1

{
    text-shadow: 2px 2px 4px #000000;
    margin-top: 40px;
font-size: 8vh;   
/* font-family: 'Alkalami', serif; */
font-family: 'Bitter', serif;
}
#item1
{
    display: flex;
    flex-direction: column;
}
.logo
{
    height: 25vh;
    width: 25vh;
    margin-top: 10vh;
    margin-right: 5vh;
}
/* section3 */
#section3
{
    background-image: url('workback.png');
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 300px; */
width: 100%;
    /* align-items: center; */
    flex-direction: column;
    /* padding: 10vh; */
    padding-bottom: 10%;
}
/* section4 */
#item5
{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section4
{
    background-image: url('contact.png');
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 300px; */
width: 100%;
    /* align-items: center; */
    flex-direction: column;
    background-color:blueviolet;
/* padding-bottom: 10%; */
}
/* #form1
{
    display: flex;
    flex-direction: column;
} */
form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    /* display: flex;
    justify-content: center; */
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 15px;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.btn {
    margin-top: 20px;
    /* margin-left: 32%; */
    background-color: #ade8f4;
    border: 3px solid rgba(53, 8, 8, 0.322);
    border-radius: 10px;
    font-size: 18px;
    padding: 7px;
    cursor: pointer;
    box-shadow:2px 2px 4px whitesmoke;
}
.btn:hover{
   background-color: rgb(39, 44, 46); 
   color: white;
   border:2px solid wheat;
   box-shadow:2px 2px 4px rgb(20, 11, 11);
   ;
}
/* footer */
footer
{
    background-image: url('socialback.png');
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 20%; */
/* width: 100%; */
    /* align-items: center; */
    flex-direction: column;
}
.Skillsid
{
    color:white;
    font-size: 10vh;
    font-family: 'Bitter', serif;
    text-shadow: 2px 2px 4px #000000;

}
.logo1
{
    height: 10vh;
    width:10vh;
    padding-top: 3vh;
    padding-right: 5vh;
}
.logo1:hover{
    transform: rotate(8deg);
}
@media (max-width: 917px)
{
    #item1{
        margin: 0 50%;
    }
}
@media(max-width:461px)
{
    #item2
    {
        margin: 0 50%;
    }
}
@media(max-width:746px)
{
    #navbar ul
    {
        display: none;
    }
}
@media(max-width:685px)
{
    #item2
     {
        margin: 0 10%; 
    }
}
@media(max-width:580px)
{
    #item2
    {
        margin: 0 40%; 
    }
}
@media(max-width:443px)
{
    .input-field
{
    width: 95%;
}
}